 @import url('http://fonts.cdnfonts.com/css/qatar2022');
.body {
  background-color: rgb(139, 22, 56);
  font-family: 'Qatar2022', sans-serif;
}

.tabela-fase1 {
  width: 100%;
  float: left;
  border-collapse: collapse;
  margin: 5% 2% 5% 0%;
  background-color: rgb(237, 238, 228);
  color: rgb(139, 22, 56);
}

.title {
  text-align: center;
  border-bottom: 1px rgb(202, 196, 157) solid;
  padding: 10px;
  font-size: 20px;
}

.coluna-bandeira{
  text-align: center;
  width: 60px;
}

.nome-pais{
  padding-left: 5%;
}

.img-fase1 {
  width: 50px;
  height: 45px;
  align-self: center;
}

.btn{
  background-color: rgb(237, 238, 228);
  color: rgb(139, 22, 56);
}

.btn-avancar{
  margin-left: 10%;
}

.img-ganhador {
  width: 400px;
  height: 400px;
}
.teste {
  position: absolute;
}
.tabela-final {
  width: 100%;
  float: left;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: rgb(237, 238, 228);
  color: rgb(139, 22, 56);
}